body, html {
    background-color: #f0f0f0;
  }
  
  #root {
    background-color: #f0f0f0;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('./components/fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }



  .AppBar a {
    color: black;
    text-decoration: none;
    margin-right: 16px;
  }
  
  .AppBar button {
    color: inherit;
    margin-left: 12px;
  }
  .pac-container {
    z-index: 9999;
  }
  
  
  
  